

.productss{
    width: 95%;
    margin-left: auto;

}

.products{
width: 20%;
margin: 10px;
}
.products img{

    width: 100%;
}

.clr{

    clear: both;
}

.pr1,.pr2 {
float: left;
margin-left: 10px;
}
.products .blue{
margin: 5px;
padding: 15px 65px;
color:white;
background-color: blue;
}
.products .whight{

    padding: 15px 15px;
    color:blue;
    background-color: white;
}

.pr2 {
    text-decoration: line-through;
}

.products{

    float: left;
}